@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Jost:wght@400;500&display=swap");

.font-homemade {
  font-family: "Homemade Apple", cursive;
}

/* url("../../images/app-index/licor-hero.png"); */
.section-app-index {
  /* background: #2e2f33; */
  background: linear-gradient(to right, #2e2f33 0%, #2e2f33 70%, transparent 85%);
  /* background-image: url("../../images/app-index/licor-hero.png"); */
  /* background-image: linear-gradient(to right, #2e2f33 0%, #2e2f33 70%, transparent 85%),
    url("../../images/app-index/licor-hero.png");
  background-repeat: no-repeat; */
}
@media (max-width: 768px) {
  .appIndex {
    background-size: cover;
    opacity: 0.9;
  }
}
.appIndex {
  background-image: none;
}

.block-gradiant {
  width: 300px;
  height: 100%;
  background: linear-gradient(to right, #587688 0%, #5d7a8c 35%, transparent 75%);
}
