.imagen {
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.pixabay.com/photo/2015/06/24/13/31/beer-820011_1280.jpg");
  }


  
 